@model IEnumerable<BugTracker2020.Models.ViewModels.ManageUserRolesViewModel>

<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important;">
  <h5 class="my-5">
    Select a Role from the dropdown to change a user's current role.
  </h5>
  <p class="pb-3">Warning: This will affect what the user can see.</p>
  <div class="bg-dark-o-80 p-3 shadow-lg border border-dark border-2 rounded">
    <table class="table text-center shadow bg-white-o-20">
      <thead class="bg-dark">
        <tr>
          <th>User</th>
          <th>Current Role</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @*SET USER ROLES FORMS HERE*@
        @foreach (var item in Model)
        {
          var userName = item.UserName.Replace(" ", "_");
          <tr style="height: 60px;">
            <form asp-controller="ManageUserRoles" asp-action="SetRoles">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="@item.UserId">
              <td style="vertical-align: middle;  padding-left: 1.1rem;">@item.UserName</td>
              <td style="vertical-align: middle;  padding-left: 1.1rem;">@item.UserRole.FirstOrDefault()</td>
              <td class="px-2" style="vertical-align: middle;">
                <select class="form-control custom-select text-gray-200" id="@userName" name="name" asp-items="@item.Roles">
                  <option value="">Choose a role</option>
                </select>
              </td>
              <td class="text-center" style="vertical-align: middle;">
                <input type="submit" class="btn btn-outline-info" value="Set Role" />
              </td>
            </form>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
