@using BugTracker2020.Models.ViewModels
@model IEnumerable<ManageProjectUsersViewModel>

<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); background-size: cover; border-top-left-radius: 0 !important;">
  <h5 class="my-5">
    Select a Project from the dropdown to assign a project to a user.
  </h5>
  <p class="pb-3">Warning: This will affect what tickets the user can see.</p>
  <div class="bg-dark-o-80 p-3 shadow-lg">
    <table class="table text-center shadow bg-white-o-20 w-100 table-bordered">
      <thead class="bg-dark">
        <tr>
          <th>
            User
          </th>
          <th>Role</th>
          <th>
            Assigned Projects
          </th>
          <th>
            Assign Project to User
          </th>
          <th>Action</th>
        </tr>
      </thead>

      @foreach (var item in Model)
      {
        <tr>
          <form asp-controller="Projects" asp-action="AssignProjectToUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("userId", item.User.Id)
            <td style="vertical-align: middle;">
              @item.User.FullName
            </td>
            <td style="vertical-align: middle;">
              @item.UserRole.FirstOrDefault()
            </td>
            <td style="vertical-align: middle;">
              @if (item.CurrentProjects.Count != 0)
              {
                foreach (var project in item.CurrentProjects)
                {
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent">
                      @*FIGURE OUT HOW TO REMOVE USER PROJECTS WITH A POST METHOD*@
                      @project.Name <a asp-controller="Projects" asp-action="RemoveAssignedProjectFromUser" asp-route-id="@project.Id" asp-route-userId="@item.User.Id" class="btn btn-light border py-1 px-2">X</a>
                    </li>
                  </ul>
                }
              }
              else
              {
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-transparent">No Projects Assigned</li>
                </ul>
              }
            </td>
            <td style="vertical-align: middle;">
              <select class="form-control custom-select text-gray-200" asp-for="@item.SelectedProject" asp-items="@item.Projects">
                <option value="">Choose project</option>
              </select>
            </td>
            <td style="vertical-align: middle;">
              <input type="submit" class="btn btn-outline-info" value="Assign Project" />
            </td>
          </form>
        </tr>
      }
    </table>
  </div>
</div>
