@using Microsoft.AspNetCore.Identity
@using BugTracker2020.Services
@model IEnumerable<BugTracker2020.Models.Project>
@inject UserManager<BTUser> UserManager
@inject IBTProjectsService ProjectsService
@inject IBTAccessService AccessService

@{
  ViewData["Title"] = "My Projects";
  var userId = UserManager.GetUserId(User);
  var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
  //var user = await UserManager.GetUserAsync(User);
  //var roleName2 = (await UserManager.GetRolesAsync(user)).FirstOrDefault();
  //string userId2 = user.Id;
}

<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important;">
  <div class="d-flex justify-content-between">
    <div>
      <h1>My Projects</h1>
      <p>Here you'll find a list of all the projects you're assigned to.</p>
    </div>
    <div class="pt-5">
      @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
      {
        <a asp-action="Create" class="btn btn-dark border">Create New</a>
      }
      <a asp-action="Index" class="btn btn-dark border">Back To All Projects</a>
    </div>
  </div>
  <div class="bg-dark-o-80 p-3 shadow-lg border border-dark border-2 rounded mt-5">
    <table class="table text-center shadow bg-white-o-20">
      <thead class="bg-dark">
        <tr>
          <th>
            Project Name
          </th>
          <th>
            Project Image
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (Model.Any() == false)
        {
          <tr>
            <td>No Projects Assigned</td>
            <td></td>
            <td></td>
          </tr>
        }
        else
        {
          @foreach (var item in Model)
          {
            <tr>
              <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td style="vertical-align: middle;">
                @if (item.ImageData == null)
                {
                  <span>No Image Uploaded</span>
                }
                else
                {
                  <a class="btn btn-outline-light text-white" data-toggle="modal" data-target="#image-@item.Id">View Image</a>
                  <div class="modal fade" id="image-@item.Id">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content bg-dark">
                        <div class="modal-header">
                          <h5 class="modal-title text-gray-200">Project Image for @item.Name</h5>
                        </div>
                        <div class="modal-body">
                          <img src="@item.ImagePath" alt="@item.ImagePath" class="img-fluid">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-light text-white" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </td>
              <td style="vertical-align: middle;">
                @if (await AccessService.CanAccessProject(userId, item.Id, roleName))
                {
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark border">Edit</a>
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark border">Details</a>
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark border">Delete</a>
                }
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>