@using Microsoft.AspNetCore.Identity
@model BugTracker2020.Models.ViewModels.TicketDetailsViewModel
@inject UserManager<BTUser> userManager
@{
  ViewData["Title"] = "Details";
}
<div class="p-5 h-100 rounded" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important; color: #fff;">
  <div class="d-flex justify-content-between">
    <h1 class="pt-2">Details</h1>
    <div class="justify-content-end pt-2">
      <a class="btn btn-outline-info px-5 mr-2" asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a>
      <a class="btn btn-outline-light text-dark-25" asp-action="Index">Back to List</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-8 mb-2">
      <div class="rounded shadow-lg p-3 bg-dark-o-100">
        <div class="py-1 bg-transparent">
          <div class="text-center h3">@Model.Ticket.Title</div>
        </div>
        <div class="card-body border-y">
          <p class="card-text">@Model.Ticket.Description</p>
        </div>
        <div class="bg-transparent py-2 pl-1">
          <div class="row">
            <div class="col pt-2">Created: @Model.Ticket.Created</div>
            <div class="col pt-2">Last Updated: @Model.Ticket.Updated</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <div class="rounded shadow-lg p-3 bg-dark-o-100">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Parent Project:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.Project.Name)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Ticket Type:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.TicketType.Name)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Ticket Priority:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.TicketPriority.Name)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Ticket Status:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.TicketStatus.Name)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Submitted By:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.OwnerUser.FullName)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 py-2 border-bottom">
              <strong>Assigned Developer:</strong>
            </div>
            <div class="col-md-6 py-2 border-bottom">
              @Html.DisplayFor(model => model.Ticket.DeveloperUser.FullName)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-transparent my-5 mb-3 text-white" style="border-bottom: 0.1px dashed white; border-top: 0.1px dashed white;">
    <div class="col-md-2 pt-5">
      <h4>Attachments:</h4>
    </div>
    <div class="col-md-10 py-2">
      @foreach (var attachment in Model.Ticket.Attachments)
      {
        <a data-toggle="modal" data-target="#@attachment.Description" class="btn btn-outline-white">@attachment.Description</a>
        <div class="modal fade" id="@attachment.Description" tabindex="-1">
          <div class="modal-dialog modal-xl">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h5 class="modal-title">@attachment.Description</h5>
              </div>
              <div class="modal-body">
                <img src="@attachment.FilePath" alt="@attachment.Description" class="img-fluid" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light text-white" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  @{ var userId = userManager.GetUserId(User); }
  <div class="row">
    <div class="col">
      <form asp-action="Create" asp-controller="TicketComments">
        @Html.Hidden("TicketId", Model.Ticket.Id)
        @Html.Hidden("UserId", userId)
        <div class="form-group mb-2">
          <textarea class="form-control border-0 bg-white-o-40 text-white" placeholder="Add Comments" asp-for="@Model.Comment" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-info" value="Submit Comment">
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h4>Comments</h4>
      @foreach (var comment in Model.Ticket.Comments.OrderByDescending(c=>c.Created))
      {
    <div class="rounded shadow-lg mb-2 p-3 bg-dark-o-100">
      <div class="pb-1 d-flex justify-content-between border-bottom">
        <div><strong>@comment.User.FullName</strong></div>
        <div class="text-muted">@comment.Created</div>
      </div>
      <div class="card-body py-1 pt-3">
        <p>@comment.Comment</p>
      </div>
    </div>
      }
    </div>
  </div>
</div>