@using Microsoft.AspNetCore.Identity
@using BugTracker2020.Services
@model IEnumerable<BugTracker2020.Models.Ticket>
@inject UserManager<BTUser> UserManager
@inject IBTAccessService AccessService

@{
  ViewData["Title"] = "Tickets Index";
  var userId = UserManager.GetUserId(User);
  var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
  //var user = await UserManager.GetUserAsync(User);
  //var roleName2 = (await UserManager.GetRolesAsync(user)).FirstOrDefault();
  //string userId2 = user.Id;
}
<div class="p-5 h-100 rounded text-white" style="background: url(/assets/media/bg/bg-2.jpg); border-top-left-radius: 0 !important;">
  <div class="alert alert-warning alert-dismissible show d-none fade" id="demoRoleWarning" role="alert">
    <strong>Holy smokes!</strong> You're not logged in with a role that can make changes.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <h1>All Tickets</h1>
      <p>This is a list of all the tickets in the system. If you'd like to see a list of your tickets, click on 'My Tickets'</p>
    </div>
    <div class="pt-5">
      <a asp-action="MyTickets" class="btn btn-outline-light text-white text-hover-dark">My Tickets</a>
      <a asp-action="Create" class="btn btn-dark border">Create Ticket</a>
    </div>
  </div>
  <hr>
  <div class="bg-dark-o-80 p-3 shadow-lg border border-dark border-2 rounded">
    @if (TempData["Naughty"] != null)
    {
      <h3>@TempData["Naughty"]</h3>
    }
    <table class="table text-center shadow bg-white-o-20">
      <thead class="bg-dark">
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Title)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Created)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Updated)
          </th>
          <th>
            Parent Project
          </th>
          <th>
            Ticket Type
          </th>
          <th>
            Ticket Priority
          </th>
          <th>
            Ticket Status
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
              @{ var dataTarget = item.Title.Replace(" ", "_"); }
              @if (await AccessService.CanAccessTicket(userId, item.Id, roleName))
              {
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>